<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <header>
        <img class="lobbie" src="images/logo.png" alt="Logo">
    </header>
    <main>
        <ul>
            <% for (let i = 0; i < data.length; i++) { %>
                <li>
                    <figure>

                        <img src="images/profielfotos/<%= data[i].photo %>" alt="Profilepicture">
                        </a>
                        <figcaption>
                            <h2>
                                <%= data[i].voornaam + ' ' + data[i].achternaam %>
                            </h2>
                            <h3>
                                <%= data[i].age %>
                            </h3>
                            <p>
                                <%= data[i].bio %>
                            </p>
                            <a href="<%= data[i].email%>"><img src="images/no.png" alt="DislikeButton"></a>
                            <form action="<%= data[i].email %>" method="post">
                                <button class="likebut" type="submit"> <img src="images/like.png" alt="LikeButton"> </button>
                            </form>
                        </figcaption>
                    </figure>
                </li>
                <% } %>

        </ul>

    </main>

    <script src="./js/swipen.js"></script>
</body>

</html>