<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <header>
        <img class="logo" src="images/logo.svg" alt="Logo">
        <%- include('partials/nav'); -%>
    </header>
    <main>
        <ul>
            <% if (locals.data ){ %>
                <% for (let i = 0; i < data.length; i++) { %>
                    <li>
                        <figure class="profiel">
                            <img class="profielfoto" src="images/profielfotos/<%= data[i].photo %>" alt="Profilepicture">
                            </a>
                            <figcaption>
                                <div>
                                    <a id="dislikelink" href="<%= data[i].email%>"><img src="images/no.png" alt="DislikeButton"></a>
                                    <form action="<%= data[i].email %>" method="post">
                                        <button class="likebut" type="submit"> <img src="images/matches.svg" alt="LikeButton"> </button>
                                    </form>
                                </div>
                                <div>
                                    <h2>
                                        <%= data[i].voornaam + ' ' + data[i].achternaam %>
                                    </h2>
                                    <p>
                                        <%= data[i].bio %>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <% } %>
                        <% } else { %>
                            <p>U heeft nog geen matches</p>
                            <% } %>
        </ul>

    </main>

    <script src="./js/swipen.js"></script>
</body>

</html>