<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <header>
        <%- include('partials/nav'); -%>
    </header>
    <main>
        <ul>
            <% if (data.length > 0 ){ %>
                <% for (let i = 0; i < data.length; i++) { %>
                    <li>
                        <figure>
                            <img src="images/profielfotos/<%= data[i].photo %>" alt="Profilepicture">
                            </a>
                            <figcaption>
                                <h2>
                                    <%= data[i].voornaam + ' ' + data[i].achternaam %>
                                </h2>
                                <h3>
                                    <%= data[i].age %>
                                </h3>
                                <p>
                                    <%= data[i].bio %>
                                </p>
                                <form action="<%= data[i].email %>" method="post">
                                    <button class="disLikebut" type="submit"> <img src="images/no.png" alt="DislikeButton"> </button>
                                    <button class="likebut" type="submit"> <img src="images/matches.svg" alt="LikeButton"> </button>
                                </form>
                            </figcaption>
                        </figure>
                    </li>
                    <% } %>
                        <% }else{ %>
                            <p>Geen mensen meer om weer te geven.. </p>
                            <% } %>
        </ul>

    </main>

    <script src="./js/swipen.js"></script>
</body>

</html>