<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="STYLESHEET" href="/css/styleProfiel.css" type="text/css">
    <title>Find love</title>
</head>

<body>
    <header>
        <%- include('partials/nav'); -%>
    </header>
    <main>
        <ul>
            <% for (let i = 0; i < data.length; i++) { %>
                <li>
                    <figure>
                        <a href="/profile/<%= data[i].id %>">

            <img src="images/profielfotos/<%= data[i].photo %>" alt="Profilepicture">
</a>
                        <figcaption>
                            <h2>
                                <%= data[i].voornaam + ' ' + data[i].achternaam %>
                            </h2>
                            <h3>
                                <%= data[i].age %>
                            </h3>
                            <p>
                                <%= data[i].bio %>
                            </p>

                            <form action="<%= data[i]._id %>" method="post">
                                <button class="disLikebut" type="button"> <img src="images/no.png" alt="DislikeButton"> </button>

                                <button class="likebut" type="button"> <img src="images/like.png" alt="LikeButton"> </button>
                            </form>


                        </figcaption>
                    </figure>
                </li>

                <% } %>

        </ul>
        <p>Geen mensen meer om weer te geven.. </p>
    </main>

    <script src="js/swipen.js"></script>

</body>

</html>