<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <header>
        <%- include('partials/nav'); -%>
            <%- messages() %>
    </header>
    <main class="succes">

        <form class="registratepage" id='registratepage' action='registrating' enctype='multipart/form-data' method='POST'>
            <fieldset id='persoonsgegevens'>
                <legend>Personalia</legend>
                <label for="voornaam">Voornaam</label>
                <input class="firsttype" type="text" name="voornaam" placeholder="Voornaam" value="<%= data.voornaam %>">

                <label for="achternaam">Achternaam</label>
                <input class="firsttype" type="text" name="achternaam" placeholder="Achternaam" value="<%= data.achternaam %>">

                <label for="geboortedatum">Geboortedatum</label>
                <input type="date" name="geboortedatum" placeholder="dd - mm - jjjj" value="<%= data.geboortedatum %>">

                <label for='gender'>Geslacht</label>
                <ul>
                    <li><input type='radio' name='gender' value='man' checked='checked' required value="<%= data.gender %>">
                        <label class='man' for='man'>Man</label></li>
                    <li><input type='radio' name='gender' value='vrouw' required value="<%= data.gender %>">
                        <label class='vrouw' for='vrouw'>Vrouw</label></li>
                    <li><input type='radio' name='gender' value='beide' required value="<%= data.gender %>">
                        <label class='beide' for='beide'>Beide</label></li>
                </ul>
                <fieldset>
                    <legend>Inloggegevens</legend>
                    <label for='email'>Email</label>
                    <input type='email' required name='email' minlength='6 ' maxlength='60 ' placeholder='B.v blabla@outlook.com '>

                    <label for='password'>Wachtwoord</label>
                    <input type='password' required name='wachtwoord' minlength='6 ' placeholder='Minimaal 6 tekens '>
                </fieldset>

                <button id='next' type='button' name='next'>Volgende stap</button>
            </fieldset>
            <fieldset id='accountgegevens'>
                <legend>Account details</legend>
                <label class='fileContainer' for='photo'>Upload je profielfoto</label>
                <input class='file' type='file' value="<%= data.photo %>" name='photo' required accept='image/*'>
                <label for='geslachtZoekend'>Geïnteresseerd in</label>
                <ul>
                    <li> <input type='radio' name='searchSex' value='man' checked='checked' value="<%= data.searchSex %>" required>
                        <label class='man' for='man'>Mannen</label></li>
                    <li><input type='radio' name='searchSex' value='vrouw' value="<%= data.searchSex %>" required>
                        <label class='vrouw' for='vrouw'>Vrouwen</label></li>
                    <li><input type='radio' name='searchSex' value='beide' value="<%= data.searchSex %>" required>
                        <label class='beide' for='beide'>Beide</label></li>
                </ul>
                <label for='functie'>Functie</label>
                <input class='firsttype' type='text' name='functie' value="<%= data.functie %>" required placeholder='B.v. fotograaf'>

                <label for='bio'>Bio</label>
                <input class='firsttype' required type='text' value="<%= data.bio %>" name='bio' placeholder='Vertel iets over jezelf...'>
                <button id='back' type='button' name='back'>Terug</button>
                <input type='submit' value='registreren'>
            </fieldset>

        </form>
        </article>
        </section>
        <%- include('partials/footer'); -%>