<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <header>
        <%- include('partials/nav'); -%>
    </header>
    <main class="succes">
        <%- include('partials/succes-icon'); -%>
            <!-- Maakt een div aan met flashmessages met class error of succes -->
            <%- messages() %>
                <ul class="accountlinks">
                    <!-- <li><a href="/edit-pass">Verander wachtwoord</a></li> -->
                    <li><a href="/findlove">Door naar matchen!</a></li>
                    <li><a href="/profile">Profiel aanpassen</a></li>
                    <li><a href="/delete">Profiel verwijderen</a></li>
                    <li><a href="/logout">Uitloggen</a></li>
                </ul>


    </main>
    <footer>
        <%- include('partials/footer'); -%>
    </footer>
</body>

</html>