<!DOCTYPE html>
<html lang='en'>

<head>
    <%- include('partials/head'); -%>
</head>

<body id='registration'>
    <header>
        <%- include('partials/header-registration'); -%>
            <%- messages() %>
    </header>
    <main>
        <%- include('partials/registration-form'); -%>
    </main>
    <footer>
        <%- include('partials/footer'); -%>
    </footer>
</body>

</html>