<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body id="registration">
    <header>
        <%- include('partials/header-registration'); -%>
    </header>


    <main>
        <!-- Maakt een div aan met flashmessages met class error of succes -->
        <%- messages() %>
            <!-- <%- include('partials/registration-form'); -%> -->

            <form class="registratepage" action="registrate" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <label for="voornaam">Voornaam</label>
                    <input class="firsttype" type="text" name="firstName" placeholder="Voornaam" required>

                    <label for="achternaam">Achternaam</label>
                    <input class="firsttype" type="text" name="firstName" placeholder="Achternaam" required>

                    <label for="geboortedatum">Geboortedatum</label>
                    <input type="date" name="age" placeholder="dd - mm - jjjj" required>

                    <label for="email">Email</label>
                    <input type="email" required name="email" minlength="6 " maxlength="60 " placeholder="B.v blabla@outlook.com ">

                    <label for="password">Wachtwoord</label>
                    <input type="password" required name="wachtwoord" minlength="6 " placeholder="Minimaal 6 tekens ">



                    <label for="geslacht">Geslacht</label>

                    <input type="radio" name="gender" value="man" checked="checked" required>
                    <label class="man" for="man">Man</label>

                    <input type="radio" name="gender" value="vrouw" required>
                    <label class="vrouw" for="vrouw">Vrouw</label>

                    <input type="radio" name="gender" value="beide" required>
                    <label class="beide" for="beide">Beide</label>


                    <label for="geslachtZoekend">Geïnteresseerd in</label>

                    <input type="radio" name="searchSex" value="man" checked="checked" required>
                    <label class="man" for="man">Man</label>

                    <input type="radio" name="searchSex" value="vrouw" required>
                    <label class="vrouw" for="vrouw">Vrouw</label>

                    <input type="radio" name="searchSex" value="beide" required>
                    <label class="beide" for="beide">Beide</label>
                </fieldset>


                <fieldset>
                    <div class="optionphoto">
                        <label class="fileContainer" for="">
                    <input class="file" type="file" name="photo" accept="image/*;capture=camera">
                    <img src="../static/images/gallery.png" alt=""> <!-- Deze image is nog niet werkend. -->
                    <p>Klik om een foto toe te voegen</p>
                </label>
                    </div>
                    <img class="renderedphoto" src=" " alt="foto1">

                    <label for="functie">Functie</label>
                    <input class="firsttype" type="text" name="firstName" placeholder="B.v. fotograaf">

                    <label for="bio">Bio</label>
                    <input class="firsttype" type="text" name="firstName" placeholder="Vertel iets over jezelf...">
                </fieldset>

                <button class="back" name="back">Terug</button>
                <button class="next" name="next">Registreren</button>

                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </form>
    </main>
    <footer>
        <%- include('partials/footer'); -%>
    </footer>
</body>

</html>